/* .blockWrapper{
 @apply flex flex-wrap
} */

.contactsSection{
  @apply  max-w-[100vw]  flex-grow
}

.sectionHeading{
  @apply pb-[10px] md:w-auto md:hidden
}

.sectionLine{
  @apply w-full mb-[21px] h-px border-none bg-customBlue-800  md:hidden
}

@media screen and (min-width:768px) {
  .addresWrapper{
  background: radial-gradient(ellipse at center,  #202336 0%,#202336 50%,#202336  50%,#fff00000 50%,#fff00000) ;
  background-size: 400px 400px ;
  background-position: -200px -100px;
  background-repeat: no-repeat;
}
}
.addresWrapper{
  @apply min-w-[280px]  max-w-[402px] pt-[31px] rounded-lg bg-customBlue-950 text-customGray-50
   md:min-w-[300px] 
}



.address{
  @apply  pb-9 pl-[62px] not-italic
}
.descriptionName{
  @apply font-bold text-base leading-5 tracking-[0.23px] mb-4
}

.locationIcon{
  @apply w-[13px] h-[18px] mr-2 inline-block align-baseline fill-customGray-100
}

.location{
  @apply mb-[6px] font-normal text-base leading-6 
}

.phone{
  @apply block font-normal text-base leading-6 text-customGray-150
}

.email{
  @apply block font-normal text-base leading-6 text-customGray-150
}

.map{
  @apply  grayscale invert 
}

.mapLocationIcon{
  @apply w-[26px] h-[36px] fill-customGray-100 
}