.blockWrapper{
 @apply flex flex-wrap items-center
}

.jobDetailsSection{
  @apply pb-[135px] md:pb-[86px]
}

.sectionHeading{
  @apply pb-3 order-first md:w-auto
}

.sectionLine{
  @apply w-full mb-6 h-px border-none bg-customBlue-800 md:mb-10
}

.helperLink{
@apply inline-flex mb-8  items-center h-6 not-italic font-normal text-base leading-6 tracking-[-0.5px] text-customBlue-transperent-80 md:order-first md:mb-0
}

.saveLink{
  @apply mr-9 md:ml-auto md:mr-[31px]
}

.starIcon{
  @apply w-[20px] h-[20px] mr-3 fill-transparent stroke-customBlue-800 stroke-[3px] md:w-4 
}

.favoriteBookmark{
  @apply fill-customBlue-600
}

.shareIcon{
  @apply w-[18px] h-[20px] mr-3 fill-customBlue-800
}

.applyButton{
  @apply rounded-lg w-[127px] h-[52px] not-italic font-semibold text-xs leading-4 text-center  bg-customBlue-800 text-white 

}

.generalDesription{
  @apply md:pt-8
}

.description{
  @apply w-full mb-[5px] font-bold text-2xl leading-7 tracking-[-0.75px]
  order-first lg:max-w-[70%]
}

.createdDate{
  @apply font-light text-xs leading-6 tracking-[0.2px] text-customBlue-transperent-60 self-center
  md:font-normal md:text-lg  lg:w-full

}

.salary{
  @apply flex flex-col ml-auto mb-[14px] text-right tracking-[-0.56px] font-medium text-lg leading-6 text-customBlue-transperent-80 
   lg:mb-auto lg:order-first lg:text-left 
}

.salary strong {
  @apply mt-1 font-bold text-xl leading-6 tracking-[-0.65px] text-customBlue-800
  lg:order-first
}

.textBlock {
  @apply mb-6 not-italic font-normal text-lg leading-6 tracking-[-0.56px] text-customBlue-transperent-80 
}

.textCaption {
  @apply mb-4 font-bold text-xl leading-6 
}

.benefitsCaption {
  @apply font-normal text-lg leading-6 tracking-[-0.56px] text-customBlue-transperent-80 
}

.benifit{
  @apply relative
}

.benifit::before{
  @apply align-middle mb-1 mr-4 content-[''] inline-block w-[9px] h-[9px] leading-6 bg-customBlue-transperent-60
  md:absolute left-[-20px] top-[8px]
}

.applyButtonMobile{
  @apply mx-auto block md:mx-0
}

.socialMedia{
  @apply fixed left-0 top-0 z-10  w-screen h-screen  bg-customBlue-transperent-30
}

.socialMediaWrapper{
  @apply absolute  max-w-[200px] h-40 left-[50%] top-[50%] translate-y-[-50%] translate-x-[-50%]  px-3 pb-10 pt-4 shadow-md rounded-3xl bg-white
  md:max-w-none md:h-32
}

.buttonsWrapper{
 @apply flex flex-wrap gap-3 items-center justify-center 
}

.linkWrapper{
@apply w-8 h-8 rounded-full flex items-center justify-center bg-gray-500
}


.linkIcon{
  @apply fill-white w-5 h-5
}

.closeIcon{
  @apply h-3 w-3 fill-customBlue-600 absolute top-4 right-4
}

.copyNotation{
  @apply text-xl   text-center 
}
